.category{
    display: inline-block;
    padding:10px;
    border-radius:7px;
    font-size:12px;
    width:96%;
    margin-bottom:6px;
    list-style-type:none;

}
.category-Others {
    background-color:#9a9bbe;
}
.category-Work {
    background-color:#9abeac;
}
.category-Home {
    background-color:#f6b37f;
}
.category-General {
    background-color:#f67f90;
}
.category-School {
    background-color:#957ff6;
}
.category-Personal {
    background-color:#e1f67f;
}
.date{
    text-transform:uppercase;
    font-size:10px;
    font-weight:bold;
}
.btns{
    border: none;
    padding: .375rem .45rem
}
