{% extends "base.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
{% block content %}
    <nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding w3-animate-left" style="z-index:3; background-color:#084a46; width:270px;font-weight:bold;" id="mySidebar">
    <br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
      <div class="w3-bar-block">
        <div class="w3-center w3-margin">
            <img class="rounded-circle" src="{% static 'images/img.png' %}" width="90%" alt="profile">
            <h3 style="color:#ccc">Ajayi Praise</h3>
        </div>
      </div>
    </nav>

<!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-padding" style="background-color:#084a46;">
      <a href="javascript:void(0)" class="w3-button w3-margin-right" onclick="w3_open()">☰</a>
    </header>
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <div class="w3-hide-large">
        <br><br><br>
    </div>

<!-- Page Content -->
    <div class="w3-main w3-container w3-padding-small " style="margin-left:300px; background-color:#f4f4f4;">
        <div class="">
            <div>
                <div class="w3-half">
                    <h1 style="display: inline;">To Do List</h1>
                </div>
                <div class="w3-half">
                    <span style="float:right"> <strong>{{current_date}}</strong></span>
                </div>

            </div>

            <div class="the-thirds" style="clear:both;">
                <hr style="border: 1px solid #969696;">
                <div class="w3-third w3-padding-small" >
                    <div class="Do w3-white w3-border w3-border-white w3-round-xlarge w3-padding" style="height:500px; color:#212529!important;">
                        <div>
                            <h2 style="display:inline;">DO</h2>
                            <a style="display:inline;" class="w3-right" onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-plus"></i></a>

                        </div>
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-animate-zoom" style="max-width:300px; border-radius:15px;">
                                <div class="w3-teal w3-padding-small">
                                    <h2>Add to List</h2>
                                </div>
                                <div class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                    <form class="" action="/add_todo" method="post">
                                        {% csrf_token %}
                                        <div class="w3-margin">
                                            <input type="text" id="content" name="content" class="form-control mb-2 mr-sm-2"  placeholder="What do you want to do....." required>
                                            <label>DUE DATE</label>
                                            <input type="date" class=form-control mb-2 mr-sm-2" name="date" required>
                                            <label>CATEGORY</label>
                                            <select class="form-control" name="category" class="w3-input mb-2 mr-sm-2"  required>
                                                <option>Select Category</option>
                                                {% for category in categories %}
                                                <option value="{{category}}" name="{{category}}">{{category}}</option>
                                                {% endfor %}
                                            </select>
                                            <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
                                        </div>
                                    </form>
                            </div>
                          </div>
                        </div>
                        <hr style="border: 1px solid #505050; clear:both;">
                        <ul style="padding:0; margin:0;">
                            {% for todo in todo_items %}
                            <div class="category category-{{todo.category_name}}">
                                <li><strong>{{todo.todo_text}}</strong>
                                    <form method="post" action="delete_todo/{{todo.id}}" style="display:inline;">
                                        <button type="submit" class="category-{{todo.category_name}} btns w3-right"><i class="fas fa-trash-alt" style="color:grey; display:inline;"></i></button>
                                    </form>
                                </li>
                                <span style="display:inline;" class="date">
                                    <i class="fas fa-calendar-alt" style="color:grey;"></i>
                                    {{ todo.created }}

                                </span>


                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                 <div class="w3-third w3-padding-small">
                    <div class="Do w3-white w3-border w3-border-white w3-round-xlarge w3-padding" style="height:500px; color:#212529!important;">
                        <h2 stle="color:#212529;">DONE</h2>
                        <hr style="border: 1px solid #505050;">
                        <ul style="padding:0; margin:0;">
                            {% if  completelist %}
                            {% for complete in completelist %}
                           <div class="category category-{{complete.category_name}}">
                               <li><strong>{{complete.completed_text}}</strong> <i class="fas fa-check" style="color: #51cf66;"></i> </li>
                            </div>
                        </ul>
                            {% endfor %}
                            {% else %}
                            <h6>You haven't completed any task today</h6>
                            {% endif %}

                    </div>
                </div>
                 <div class="w3-third w3-padding-small">
                    <div class="Do w3-border w3-white w3-border-white w3-round-xlarge w3-padding" style="height:500px; color:#212529!important;">
                        <h2 >MEMO</h2>
                        <hr style="border: 1px solid #505050;">
                        <ul style="padding:0; margin:0;">
                            <li class="category category-Work" >thehehehhdhhdhdhdhb ehee </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>